html {
    font-style: 14px;
}

header, footer, .content {
    background-color: rgb(41, 189, 224);
}
header, footer {
    position: fixed;
    width: 100%;
}
header {
    top: 0;
    height: 6.5vh;
    color: #ffffff;
    font-size: 1.9rem;
    z-index: 123;
}
header .row {
    padding-right: 15px;
}
header .row > div {
    text-align: center;
    height: 6.5vh;
    line-height: 6.5vh;
}

header .row ,header .col-xs-10,header .col-xs-1 {
    padding: 0;
}
#play span {
    color: #fff;
    font-size: 3rem;
}

.glyphicon-pause:before, .glyphicon-play:before {
    position: relative;
    bottom: -0.4rem;
    right: -.6rem;
}

footer {
    bottom: 0;
    height: 17.6vh;
    text-align: center;
}


footer input {
    display: inline;
    width: 76.56%;
    height: 44.8%;
    background-color: rgb(251, 180, 53);
    border: none;
    color: #ffffff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2rem;
}
.tip {
    color: #ffffff;
    padding: 1rem 2.5rem 0;
}


/* content begin */

.content {
    padding-top: 6.5vh;
    padding-bottom: 17.6vh;
}
.content .top {
    background-color: rgb(185, 233, 245);
    height: 7.4vh;
    line-height: 7.4vh;
    padding-left: 2rem;
}
.top::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 3%;
    border: 10px solid transparent;
    border-top-color: rgb(185, 233, 245);
    border-width: 10px 7px;
}
#play {
    display: inline-block;
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 50%;
    background-color: rgb(251,180,53);
    position: absolute;
    right: 0;
    top: 6.2vh;
    margin: .5rem;
}
/* #play::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 3%;
    border: 10px solid transparent;
    border-right-color: #fff;
    border-width: 10px 7px;
} */

/* items */

.item {
    height: 33.3333333vw;
    padding: 1.5rem;
    padding: 4%;
}
.item > div{
    height: 100%;
    background-color: #f5c97b;
    border: 3px solid #ffffff;
    position: relative;
    text-align: center;
    padding-top: 30%;
    font-size: 2.1rem;
}
.item .num {
    background-color: #83b09a;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: -10px;
    text-align: center;
    font-size: 1.3rem;
}
.item .list-inline {
    display: none;
    margin: 0 auto;
    position: relative;
    left: 5%;
    top: .5rem;
}
.item li {
    width: 20%;
    height: 20%;
    background-color: #ffffff;
    padding: 0;
}
.item>div:hover + .list-inline{
    display: inline;
}
.item img {
    height: 100%;
    vertical-align: top;
}

